{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Hero Slider -->
<div id="heroSlider" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for slide in slider %}
        <div class="carousel-item text-center bg-cover vh-100 active slide-1" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ slide.photo.url }});">
            <div class="container h-100 d-flex align-items-center justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h6 class="text-white">{{ slide.title }}</h6>
                        <h1 class="display-1 my-3 fw-bold text-white">{{ slide.desc }}</h1>
                        <a href="{% url 'reservation' %}" class="btn btn-brand">Reservation</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


        


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#heroSlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#heroSlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}